.container {
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
}

.input {
  border-radius: 0;
  width: 100%;
}

.submit {
  background: var(--info);
  border-radius: 0;
}
